*{
    color: #454545;
}
header, footer{
    background-color: #C9EFC7;
}
img{
    width: 50%;
}
header img{
    width: 30%;
    padding: 1em;
}
header{
    display: flex;
    align-items: center;
}
h3{
    padding: 1em;
}
header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
header nav{
    width: 70%;
}
header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}