@media only screen and ( max-width: 119.99rem){
    #replace1 {
        display:none
    }
    .description-3 {
    width: 65%;
    padding: 1em;
    margin-bottom: 40px;
    }
    main{/*this does damage to small.css*/
        height: auto;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
      "header header1"
      "footer footer";
    }
    #item1{
        grid-area: header;
    }
    #item2{
        grid-area: header1;
    }
    #item3{
        grid-area: footer;
    }
    #item3 #replace{
        width: 99%;
        margin: 0 auto;
    }
    body{
        margin: 0;
        width: 99%;
    }
    footer{
        width: 100%;
    }
    #big-pic{
        width: 70%;
        margin: 0 auto;
    }
}