@media only screen and (42rem >= width){
    #replace{
        display: none;
    }
    #replace1{
        display: block;
    }
    header{
        width: 97%;
        height: 300px;
        border-radius: 0%;
        background-color: #d9ed92;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 4px dashed white;
    }
    p{
        width: 80%;
        margin: 0 auto;
        padding: 10px;        
    }
    main{
        height: auto;
        width: 95%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        margin: 0 auto;
        grid-gap: 3px;
        grid-template-areas:
        "head"
        "main"
        "footer";
    }
    #item1{
        grid-area: head;
    }
    #item2{
        grid-area: main;
    }
    #item3{
        grid-area: footer;
    }
    body{
        width: 100%;
        margin: 0 auto;
    }
    img{
        width: 100%;
        object-fit: contain;
        image-rendering: pixelated;
        margin: 0 auto;
    }
    figure{
        width: 99%;
        margin: 0 auto;
    }
    footer{
        width: 100%;
    }
    #big-pic{
        width: 99%;
        margin: 0 auto;
    }
    .description-3 {
        width: 80%;
        margin-bottom: 20px;
    }
}