*{
    box-sizing: border-box;
}
html{
    background-color: #99d98c;
}
body{
    padding: 10px;
    margin: 0 auto;
    width: 80vw;
}
h2{
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
}
header{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #d9ed92;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px dashed white;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    flex-wrap: wrap;
}
figure{
    background-color: #d9ed92;
    padding: 1em;
    border: 4px dashed white;
}
footer{
    text-align: center;
    background-color: #d9ed92;
    width: 100%;
    margin: 0 auto;
    border: 4px dashed white;
}
p{
    margin: 0 auto;
    width: 450px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
figcaption{
    font-family: 'Sofia Sans', sans-serif;
    font-size: medium;
}
a{
    color: #1b4332;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
section>p{
    margin-bottom: 40px;
}
@media (max-width: 500px) {
    main {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media (min-width: 800px) {
    #replace {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(../images/Hicks_law.png) no-repeat;
    }
    .description-3 {
    width: 700px;
    margin-bottom: 40px;
    }
}