*{
    box-sizing: border-box;
}
html{
    background-color: #99d98c;
}
body{
    padding: 10px;
    margin: 0 auto;
    width: 80vw;
}
h2{
    text-align: center;
}
header{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #d9ed92;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px dashed white;
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
figure{
    background-color: #d9ed92;
    padding: 1em;
    border: 4px dashed white;
}
footer{
    text-align: center;
    background-color: #d9ed92;
    width: 70%;
    margin: 0 auto;
    border: 4px dashed white;
}
p{
    margin: 0 auto;
    width: 450px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.description-3{
    width: 700px;
    margin-bottom: 40px;
}