*{
    box-sizing: border-box;
    /*border: 2px solid red;*/
}
h1, h2, h3, h4{
    font-family: 'Sofia Sans', sans-serif;;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
h4{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
a{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}
body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #F2E2D2;
}
header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 1em;
    padding-bottom: 2.6em;
    align-items: center;
}
header a{
    padding: 2em;
    text-decoration: none;
    color: #46B1C9;
}
header div{
    display: flex;
    gap: 2em;
    height: 6em;
    padding-left: 3em;
}
header h3{
    align-self: center;
}
main{
    width:70%;
    margin: 0 auto;
}
main #col{
    width: 60%;
    margin: 0 auto;
    border: 2px solid red;
}
footer{
    text-align: center;
    background-color: #F2E2D2;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
}
.container{
    display: flex;
    justify-content: center;
    padding: 3em;
}
.container p{
    border: 2px solid black;
    margin: 0;
    padding: 1.2em;
}
#primec{
    background-color: #F2E2D2;
}
#secondc{
    background-color: #46B1C9;
}
#fontc{
    background-color: #000000;
    color: white;
}
#darkc{
    background-color: #ffffff;
}
.sec{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
}