*{
    box-sizing: border-box;
    /*border: 2px solid red;*/
}
h1, h2, h3, h4{
    font-family: 'Sofia Sans', sans-serif;;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
h4{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
a{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}
body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #F2E2D2;
}
header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 1em;
    padding-bottom: 2.6em;
    align-items: center;
}
header a{
    padding: 2em;
    text-decoration: none;
    color: #46B1C9;
}
header div{
    display: flex;
    gap: 2em;
    height: 6em;
    padding-left: 3em;
}
header img {
    object-fit: contain;
    image-rendering: pixelated;
}
header h3{
    align-self: center;
}
main{
    width:70%;
    margin: 0 auto;
}
main #col{
    width: 60%;
    margin: 0 auto;
}
footer{
    text-align: center;
    background-color: #F2E2D2;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
}
.container{
    display: flex;
    justify-content: center;
    padding: 3em;
}
.container p{
    border: 2px solid black;
    margin: 0;
    padding: 1.2em;
}
#primec{
    background-color: #F2E2D2;
}
#secondc{
    background-color: #46B1C9;
}
#fontc{
    background-color: #000000;
    color: white;
}
#darkc{
    background-color: #ffffff;
}
.sec{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
nav a:hover {
    background-color: #46B1C9;
    color: #000000;
}
@media only screen and (max-width: 82rem) {
    header {
        flex-direction: column;
        text-align: left;
        gap: 2px;
    }
    header div{
        height: auto;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
    }
    header img{
        width: 100px;
    }
    
    nav ul {
        justify-content: space-around;
    }
    nav a {
        padding: 2rem;
    }
    main {
        max-width: 77.5rem;
    }
}
@media only screen and (max-width: 25rem){
    header ul{
        flex-direction: column;
        gap: .5em;
        align-items: center;
        justify-content: center;
    }
    header li{
        border:2px solid black ;
        text-align: center;
        width: 100%;
        padding: 10px;
    }*/
    nav a{
        width: 100%;
        padding: 5px;
    }
    nav a:hover{
        background-color: none;
    }
    .container p{
        height: 80px;
        text-align: center;
    }
}