*{
    box-sizing: border-box;
    /*border: 5px solid #ff0000;*/
}
 
 :root {
    --background: rgb(0, 0, 0);
 
    --primary: #3a86ff;
    --secondary: #023047;
    
    --card-size: 1080px;
}
 html{
    background-color: var(--background);
    padding: 3rem;
    padding-left: 4rem;
}
 body {
    margin: 0;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: calc(var(--card-size) * 1.586);
    box-shadow:  0 22px 70px 4px rgba(78, 78, 78, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
    border: 15px double #000000;
    background: #ffffff;
    will-change: transform;
    transition: transform 0.25s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
    font-size: 2.5rem;
}
/*body:hover {
       transform: scale(1.05);
       box-shadow:  0 32px 80px 14px rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.3);
}*/
.logo{
    margin: 0;
    padding-right: 10px;
}
.logo>h2{
    margin: 0;
}
.nav-contact{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    padding-top:40px;
    padding-bottom: 40px;
}
.nav{
    background-color: #023047;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 5px dashed #000000;
    border-right: 5px dashed #000000;
    gap: 20px;
    padding: 30px;
    margin: 0;
}
a{
    color: turquoise;
    text-decoration: none;
    padding: 0;
}
a:hover{
    color: #757575;
    text-decoration: none;
}
h1{
    text-align: center;
    margin: 3px 0px 0px 0px;
    padding-top:40px;
    padding-bottom: 40px;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}
.header-content{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50% 50%;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 20px;
}
.liner{
    border-right: 5px dashed #000000;
}
button {
    border: 3px solid white;;
    color: white;
    background: rgba(64, 224, 208, 0.781);
	border: 1px solid #023047;
    padding: 15px 30px 15px 30px;
    margin: 5px;
    font-size: large;
}
button:hover {
    background: #1effc3;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 0 0 5px #1effc3,
                0 0 25px #1effc3,
                0 0 50px #1effc3,
                0 0 100px #1effc3;
  }
img{
    width: 550px;
    display: block;
    margin: 0 auto;
}
.middle{
    text-align: center;
    border-top: 10px double white;
    border-bottom: 10px double white;
    color: white;
    background-color: #023047;
}
.middle>p{
    margin: 0;
    padding: 40px;
}
.container1{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px auto;
    text-align: center;
}
.all-merch{
    display: flex;
    gap: 10px;
    font-size: 1rem;
    margin: 0 auto;
}
.card{
    width: 300px;
    height: 450px;
    background-color: #1effc3;
    border-left: 5px dashed #000000;
    border-right: 5px dashed #000000;
    display: flex;
    flex-direction: column;
  }
  
.card .content {
    flex: 1 1 auto;
}
.card .card-footer{
    border-top: 2px dashed #000000;
    padding: 20px;
    display: grid;
    background-color: #023047;
}
.container2{
    background-color: #023047;
    border-top: 10px double white;
    border-bottom: 10px double white;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px auto;
}
.in-container{
    display: flex;
    font-size: 1rem;
    margin: 0 auto;
}
.in{
    width: 700px;
    height: auto;
    padding: 20px;
}
.in1, .in2, .in3, .in4{
    margin: 0;
}
.in2{
    border-bottom: 5px dashed white;
    border-left: 5px dashed white;
}
.in3{
    border-right: 5px dashed rgba(64, 224, 208, 0.781);
    border-top: 5px dashed rgba(64, 224, 208, 0.781);
}
.in3-h2, .in3-h3-p, .in3-p{
    border-bottom: 5px solid white;
}
.expo-ground{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 150px;
}
cite{
    padding: 0;
}
#ear{
    padding:30px;
    margin: 0;
}
#talk{
    padding:90px;
    width: auto;
    text-align: center;
    border-left: 5px dashed #000000;
    margin: 0 auto;
    margin-left: 0;
}
.footer{
    border-top: 5px solid #000000;
    display: grid;
    background-color: #023047;
    color: white;
    grid-template-columns: 25% 1fr 1fr 1fr;
}
.footer-ul{
    box-sizing: border-box;
    list-style: none;
    padding: 40px;
    margin-top: 0;
}

.logo2{
    margin: 0;
    box-sizing: border-box;
}
.footer-box>p{
    margin-top: 0;
}
h4{
    margin-bottom: 0;
}
.footer-box{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-right: 5px dashed white;
    text-align: center;
}
.footer-boxes{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
