@media only screen and (42rem >= width){
    
    header{
        width: 97%;
        border-radius: 0%;
        margin: 0 auto;
        align-items: center;
    }
    header img{
        width: 50%;
        object-fit: contain;
        image-rendering: pixelated;
        margin: 0 auto;
    }
    body{
        width: 95%;
        margin: 0 auto;
    }
    main{
        height: 190vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "call-to-act"
        "event"
        "weather"
        "news"
        "spotlight";
    }
    #join{
        display: none;
    }
    footer > section{
        display: flex;
        justify-content: auto;
        flex-direction: column;
    }

    footer img{
        width: 50%;
        height: 50%;
    }
    header .date{
        width: 90%;
    }
    .logo{
        align-items: stretch;
        gap: 0.4em;
    }
    .fa {
        padding: 8px;
        font-size: 13px;
        width: 13px;
        height: 10px;
        margin: 1px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
    .media{
        padding: 0.4em;
    }
    a.icon {
        background: #023047;
        color: #8ecae6;
        display: block;
        position:relative;
        width: 2rem;
        height: 2em;
        right: -45%;
        top: -9.5rem;
        border: 1.5px solid white;
    }
    .icon .fa{
        padding: 5px 8px;
        font-size: 20px;
        margin: 0;
    }
}