@media only screen and (max-width: 480px){
    html{
        padding: 3em 0;
    }
    body{
        padding: 0;
        width: auto;
    }
    header{
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        justify-content: center;
    }
    header img{
        padding: 3.5rem;
        object-fit: contain;
        image-rendering: pixelated;
    }
    #navigation{
        background: var(--clr-light);
        position: absolute;
        left: auto;
        right: 2.2rem;
        top: 6rem;
        box-shadow: 0 0 3em rgba(0,0,0,.15);
        transform: translateX(100%);
        transition: transform 700ms cubic-bezier(.5, 0, .5, 1);
    }
    li{
        padding: 0.8em;
        background-color:#023047;
        border: 2px solid white;
    }
    .nav_toggle {
        position: absolute;
        top:1rem;
        right: 0;
        transform: translateX(-100%);
        background: var(--clr-light);
        padding: .37em .5em;
        border: 0;
        border-radius: .25em 0 0 .25em;
    }
    .nav_toggle:hover{
        border: 2px solid white;
      }
    .nav-open #navigation {
        transform: translateX(-0.1rem);
        width: 25rem;
        height: 10rem;
    }
    #nav-list{
        display: none;
        width: 0;
    }
    .nav-open #nav-list{
        display: flex;
        flex-direction: column;
        padding: 0.5em 3em;
        margin: 0;
        width: auto;
        height: 100%;
    }

    #logo{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    #heading{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .media{
        grid-row: 1/2;
        grid-column: 3/4;
    }
    .date{
        width: 80%;
        grid-row: 2/3;
        grid-column: 1/4;
        margin: 0 auto;
    }
    main{
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .5fr .5fr .5fr 1fr;
        grid-template-areas:
        "call-to-act"
        "event"
        "weather"
        "news"
        "spotlight";
        padding: 1em 0;
    }
    #call-to-act, #news, #event, #weather, #join, #spotlights{
        display: block;
    }
    .picture{
        width: 100%;
        height: 100%;
    }
    .center-title{
        top: 2rem;
        left: .7rem;
    }
    .action1 {
        top: auto;
        bottom: 1.5rem;
        right: 2rem;
    }
    #spotlights{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    #weather{
        width: 70%;
        margin: 0 auto;
        display: grid;
        height: 70%;
    }
    .sub-heading{
        padding: 1em;
    }
    .spot-contact{
        width: 70%;
    }
    #spot1, #spot2{
        padding: 0;
    }
    #join{
        display: none;
    }
    footer{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr;
        justify-content: auto;
        flex-direction: column;
    }
    .footer-img{
        grid-row: 1/2;
        grid-column: 1/2;
        object-fit: contain;
        image-rendering: pixelated;
        margin: 0 auto;
        width: 55%;
        height: 55%;
    }
    .address{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .contact{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .copyright{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    footer img{
        width: 50%;
        height: 50%;
    }
    
    .fa {
        padding: 8px;
        font-size: 13px;
        width: 13px;
        height: 10px;
        margin: 1px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
    .media{
        padding: 0;
    }
    a.icon {
        width: 2rem;
        height: 2em;
        border: 1.5px solid white;
    }
    .icon .fa{
        padding: 5px 8px;
        font-size: 20px;
        margin: 0;
    }
}