*{
	padding: 0;
	margin: 0;
	color: white;
	font-family: 'Itim', cursive;
	box-sizing: border-box;
}
html{
	background-color: black;
	padding: 3rem;
}
body{
	margin: 0 auto;
	border: 15px double black;
	padding: 1rem;
	background-color: white;
}
header {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  background-color: #023047;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 0.5em;
  align-items: center;
  justify-content: center;
  font-family: Acme, Arial, sans-serif;
  font-size: 1.5rem;
}
.date{
  grid-row: 2/3;
  grid-column:1/5;
  text-align: center;
  background-color: white;
  color: black;
  width: 98%;
  padding: 0.5em;
  margin: 0 auto;
}
#logo{
  grid-row: 1/2;
  grid-column: 1/2;
}
#logo-img{
  width: 50%;
  display: block;
  object-fit: contain;
  margin: 0 auto;
}
#heading{
  grid-row: 1/2;
  grid-column: 2/3;
}
#navigation{
  grid-row: 1/2;
  grid-column: 3/4;
}
#nav-list {
	padding: 0.5rem;
}
.media{
  grid-row: 1/2;
  grid-column: 4/5;
  width: 10em;
  display: flex;
  justify-content: center;
  justify-self: center;
  gap: 1em;
  flex-direction: row;
}
ul {
	margin: 1rem;
	list-style: none;
	display: flex;
	justify-content: space-around;
}

a{
   text-decoration: none;
   color: turquoise;
}
li a:hover{
	border-bottom: 2.5px solid white ;
}
.fa-linkedin{
	color: turquoise;
}
.fa-twitter{
	color: turquoise;
}
.fa {
	font-size: 40px;
	padding: 0.4em;
	border-radius: 10px;
	border: 2px solid white;
}
.fa:hover {
    background: #1effc3;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 0 0 5px #1effc3,
                0 0 25px #1effc3,
                0 0 0px #1effc3,
                0 0 0px #1effc3;
}
#main-index{
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	grid-template-rows: 1fr .5fr 0.5fr;
	gap: 1em;
	grid-template-areas:
	"event call-to-act spotlight"
	"weather news spotlight"
	"join news spotlight";
	padding: 1em;
}
#event{
	grid-area: event;
	background-color: #023047;
	color: black;
	padding: 1em;
	text-align: center;
}
#call-to-act{
	grid-area: call-to-act;
	background-color: #eee;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-blend-mode: multiply;
	color: black;
	padding: .5em;
	position: relative;
}
.sub-heading{
	padding: 1em;
	text-align: center;
}
.call-action{
	background: rgba(64, 224, 208, 0.781);
	border: 1px solid #023047;
	display: block;
	padding: 20px 28px 20px 28px;
}
button:hover {
    background: #1effc3;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 0 0 5px #1effc3,
                0 0 25px #1effc3,
                0 0 0px #1effc3,
                0 0 0px #1effc3;
  }
.center-title{
	position: absolute;
	top: 2rem;
	left: 2rem;
	color: black;
	display: block;
}
.action1 {
	position: absolute;
	top: 20rem;
	right: 7rem;
	display: block;
	padding: 20px 28px;
}
#weather{
	grid-area: weather;
	background-color: #023047;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	padding: 1em;
	text-align: center;
}
#weather h2{
	grid-row: 1/2;
	grid-column: 1/3;
}
.wheather-icon{
	grid-row: 2/3;
	grid-column: 1/2;
}
#wheather-icon{
	transform: scale(2);
}
.all-icons{
	padding: 5px;
	font-size: 5rem;
}
.temp{
	grid-row: 2/3;
	grid-column: 2/3;
}
.wheather-description{
	grid-row: 3/4;
	grid-column: 1/3;
	text-align: center;
	font-size: 1.5rem;
}
.wheather-mez{
	grid-row: 4/5;
	grid-column: 1/3;
	text-align: center;
	border-top: 3px solid white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 1em;
	width: 85%;
	margin: 0 auto;
}
#join{
	grid-area: join;
	background-color: #023047;
	color: black;
	padding: 1em;
}
.action2{
	padding: 20px 20px;
	width: 90%;
	margin: 0 auto;
}
.content{
	padding: 1.5em;
	text-align: center;
}
#news{
	grid-area: news;
	background-color: #023047;
	color: black;
	padding: 2em;
	text-align: center;
}
#spotlights{
	grid-area: spotlight;
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
	background-color: #023047;
}
.h3{
	padding: 1em;
	text-align: center;
}
#spot1, #spot2, #spot3{
	border: 2px solid white;
	background-color: #023047;
	padding: 3em 1em;
	font-size: .7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.spot-contact{
	text-align: center;
	border-top: 3px solid white ;
	width: 90%;
	padding: 1em;
}
.footer-all{
	background-color: #023047;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 2fr 1fr;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}
.address{
	grid-row: 1/2;
	grid-column: 2/3;
}
.contact{
	grid-row: 1/2;
	grid-column: 3/4;
}
.footer-all section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}
.copyright{
	grid-row: 2/3;
	grid-column: 1/4;
	text-align: center;
	border-top: 3px solid white;
	padding: 0.5em;
	width: 95%;
	margin: 0 auto;
}
.footer-img{
	grid-row: 1/2;
	grid-column: 1/2;
	object-fit: contain;
	margin: 0 auto;
	width: 50%;
	height: 50%;
}
/*******************************************************************/
h1{
    text-align: center;
    margin: 3px 0px 0px 0px;
	color: black;
    padding-top:40px;
    padding-bottom: 40px;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}
.header-content{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50% 50%;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 20px;
	color: black;
}
.header-content *{
	color: black;
}
#go-to-store{
	color: #2bb490;
}
#go-to-store:hover{
	color: #000000;
	text-shadow: 0 0 5px #1effc3,
                0 0 25px #1effc3,
                0 0 0px #1effc3,
                0 0 0px #1effc3;
}
.button-discover{
	border: 3px solid white;;
    color: white;
    background: rgba(64, 224, 208, 0.781);
	border: 1px solid #023047;
    padding: 15px 30px 15px 30px;
    margin: 5px;
    font-size: large;
}
.liner{
    border-right: 5px dashed #000000;
}
.middle{
	text-align: center;
    border-top: 10px double white;
    border-bottom: 10px double white;
    color: white;
    background-color: #023047;
}
.middle>p{
    margin: 0;
    padding: .3em 0 1em 0;
	font-size: 1.5rem;
}
.container1{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px auto;
    text-align: center;
}
.container1 *{
	color: #000000;
}
.container2 p{
	font-size: large;
}
.container2 h2{
	font-size: 1.5em;
}
.all-merch{
    display: flex;
    gap: 10px;
    font-size: 1rem;
    margin: 0 auto;
}
.card{
    height: 450px;
    border-left: 5px dashed #000000;
    border-right: 5px dashed #000000;
    display: flex;
    flex-direction: column;
  }
  
.card .content {
    flex: 1 1 auto;
}
.card .card-footer{
    border-top: 2px dashed #000000;
    background-color: #023047;
}
.card-footer{
	color: white;
	padding: 1em;
	text-align: left;
	display: block;
	width: 100%;
	font-size: 1.3em;
	height:8rem;
}
.container2{
    background-color: #023047;
    border-top: 10px double white;
    border-bottom: 10px double white;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px auto;
}
.in-container{
    display: flex;
    font-size: 1rem;
    margin: 0 auto;
}
.in{
    width: 700px;
    height: auto;
    padding: 20px;
}
.in1, .in2, .in3, .in4{
    margin: 0;
}
.in2{
    border-bottom: 5px dashed white;
    border-left: 5px dashed white;
}
.in3{
    border-right: 5px dashed rgba(64, 224, 208, 0.781);
    border-top: 5px dashed rgba(64, 224, 208, 0.781);
}
.in3-p-1{
	font-size: large;
	padding: 0.3em;
	max-width: 45em;
	margin: 0 auto;
}
.in3-h2-1{
	padding: 1em;
}
.in3-h2{
	padding: 1rem;
}
.in3-p{
    border-bottom: 5px solid white;
}
#dropdown{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    padding: 1em 0;
	border: 2px solid white;
	list-style: none;
	position: relative;
}
#dropdown:hover{
	color: black;
	background-color: white;
	border: 2px solid black;
}
.sous-menu{
	border: 2px solid black;
	position: absolute;
	width: 100%;
	margin: 1em 0;
	background-color: white;
	display: none;
}
.sous-menu ul{
	display: flex;
	font-size: 1rem;
	flex-direction: column;
	justify-content: space-evenly;
	gap: .3em;
}
.sous-menu li{
	background-color: white;
	border: 2px solid black;
	padding: 2em;
}
#dropdown:hover li{
	color: black;
}
#dropdown:hover .sous-menu{
	display: block;
}
#dropdown:hover .sous-menu .menuli:hover{
	font-size: 1.5em;
}
.expo-ground{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 150px;
}
.expo-ground *{
	color: black;
}
#cite-discover{
    padding: 2em;
}
#ear{
    padding:30px;
    margin: 0;
}
#talk{
    padding:90px;
    width: auto;
    text-align: center;
	font-size: large;
    border-left: 5px dashed #000000;
    margin: 0 auto;
    margin-left: 0;
}
.picture {
    opacity: 0;
    transition: opacity 2000ms ease-in-out;
	width: 100%;
	height: 100%;
  }
  .picture-discover{
	opacity: 0;
    transition: opacity 2000ms ease-in-out;
  }
.fade-in {
    opacity: 1;
}
@media only screen and (min-width: 91.25rem){
    .nav_toggle{
        display: none;
    }
}

/********************join********************/
form *, table *{
	color: black;
}
#the-main{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
form{
	width: 40rem;
	margin: 0 auto;
}
form fieldset{
	margin: 2rem 0;
	border: 3px solid #023047;
	border-radius: 10px;
	padding: .5rem 2%;
	width: 100%;
	max-width: 40rem;
}
label{
	margin: 0 auto;
}
form legend{
	color: #445ba9;
	margin: 0 1rem;
	padding: 0 .5rem;
}
form label.top{
	display: block;
	padding-top: 1rem;
	color: rgb(60, 121, 54);
	font-size: .8rem;
}
form label.top input, form label.top select{
	display: block;
	font-size: 1rem;
	border: solid 1px #999;
	border-radius: 4px;
	padding: .75rem;
	color: #555;
	width: 100%;
	max-width: 20rem;
	background-color: rgba(0,0,0,0.1);
}
form label.top textarea
{
	display: block;
	font-size: 1rem;
	border: solid 1px #999;
	border-radius: 4px;
	padding: .75rem;
	font-family: monospace;
	width: 100%;
	max-width: 50rem;
	height: 30rem;
	max-height: 50rem;
	background-color: rgba(0,0,0,0.1);
	margin-bottom: 1rem;
}
form input.submitBtn{
	background: rgba(64, 224, 208, 0.781);
	border: 1px solid #023047;
	display: block;
	font-size: 1.3em;
	border-radius: .4rem;
	padding: 20px 28px 20px 28px;
	margin:  0 0 2rem 2%;
	width: 96%;
	max-width: 40rem;
}
form label.top input:required{
	border-left: 6px solid rgb(182, 0, 0);
}
form label.top input:required:valid{
	border-left: 6px solid rgb(60, 121, 54);
}
/*****************************************************************/
table {
	margin: 10% auto;
	border: 2px solid black;
	box-shadow: 0 0 7px lightgreen;
	border-collapse: collapse;
	width: 50rem;
	height: 10rem;
}

caption {
	padding: 10px;
	color: black;
	font-size: 1rem;
	caption-side: bottom;
}

tr:first-child th, .highlight {
	background-color: darkolivegreen;
	color: white;
	font-size: x-large;
}

th, td {
	padding: 30px 30px;
	border: 1px solid darkolivegreen;
	width: fit-content;
}

th {
	background-color: rgb(153, 153, 153);
	font-size: large;
}

#first-left {
	background-color: darkolivegreen;
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: gainsboro;
}

.cross {
	color: red;
}

.checkmark {
	color: green;
}
/****************************************/
.mainly{
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(127, 199, 20, 0.068);
}
.blak-txt{
	color: #000000;
	text-align: center;
}
.a-txt{
	color: #328871;
	text-align: center;
}
.partner-box{
	width: fit-content;
	padding: 1em;
	border: 2.5px dashed black;
	border-radius: 4%;
	background-color: white;
}
.menu {
	margin: 1rem auto;
	border: 2px solid black;
	padding: 0.5rem;
	background-color: white;
	width: 100%;
	text-align: center;
}
.menu button {
	background: rgba(64, 224, 208, 0.781);
	padding: 0.5rem 1.5em;
	font-weight: 700;
	color: black;
}
.parteners-grid{
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	width: 100%;
	max-width: 1280px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.pics{
	width: 12rem;
}
.tabulated{
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	width: 100%;
	max-width: 1280px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.listed .partner-box{
	width: 80vh;
}
.listed .pics{
	width: 15%;
}
.tabulated .partner-box{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-self: center;
}
.listed .partner-box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.partner-box > *{
	margin: 0.1rem;
}
.parteners-grid,
.partner-box {
	margin: 0.5rem;
}

