*{
	color: white;
}
html{
	padding: 5rem;
	background-color: black;
}
body{
	width: 80vw;
	margin: 0 auto;
	border: 15px double white;
}
header{
	display: flex;
	flex-direction: column;
	background-color: #023047;
	color: #023047;
}
header ul{
	display: flex;
	list-style: none;
	align-items: center;
	gap: 1rem;
}

header > section{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	gap: 4em;
}
.date{
	text-align: center;
	background-color: darkgray;
	border: 2px solid white;
	color: black;
	padding: 1em;
	width: 95%;
	margin: 0 auto;
}
#navigation{
    height: 100%;
}
.media{
	height: 100%;
}
.fa-linkedin{
	color: turquoise;
	border: 2px solid white;
}
.fa-twitter{
	color: turquoise;
	border: 2px solid white;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 5px;
}
main{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1em;
	grid-template-areas:
	"event call-to-act spotlight"
	"weather call-to-act spotlight"
	"join news spotlight";
	height: 150vh;
	padding: 1em;
	background-color: #a0bdca;
}
#event{
	grid-area: event;
	background-color:#eee;
	color: black;
	padding: 1em;
}
#call-to-act{
	grid-area: call-to-act;
	background-color: #eee;
	color: black;
	padding: 1em;
}
#weather{
	grid-area: weather;
	background-color: #eee;
	color: black;
	padding: 1em;
}
#join{
	grid-area: join;
	background-color: #eee;
	color: black;
	padding: 1em;
}
#news{
	grid-area: news;
	background-color: #eee;
	color: black;
	padding: 1em;
}
#spotlights{
	grid-area: spotlight;
	display: flex;
	flex-direction: column;
}
#spot1, #spot2, #spot3{
	border: 2px solid black;
	color: black;
	padding: 1em;
	background-color: #eee;
}
article div{
	height: 100%;
}
footer{
	background-color: #023047;
}
footer > section{
	display: flex;
	justify-content: space-evenly;
}
footer .copyright{
	text-align: center;
	border-top: 3px solid white;
	padding: 0.5em;
	width: 95%;
	margin: 0 auto;
}
footer img{
	width: 15%;
	height: 15%;
}
.fa-bars{
	display: none;
}

