body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	font-family: hebrew;
	color: navy;
}

.date,
aside {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
}
