
*{
	border: 2px solid red;
	padding: 4px;
}
body{
	width: 60vw;
	margin: 0 auto;
}
header{
	display: flex;
	flex-direction: column;
	background-color: #d6b257;
	color: #023047;
}
header ul{
	display: flex;
	list-style: none;
	align-items: center;
	gap: 1rem;
}

header > section{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
}
header .date{
	text-align: center;
	background-color: #8ecae6;
	padding: 1em;
	width: 95%;
	margin: 0 auto;
}
nav{
    height: 100%;
}
.media{
	height: 100%;
}
.fa-linkedin{
	color: black;
	border: 2px solid black;
}
.fa-twitter{
	color: rgb(12, 167, 167);
	border: 2px solid rgb(12, 167, 167);
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}
main{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1em;
	grid-template-areas:
	"event call-to-act spotlight"
	"weather call-to-act spotlight"
	"join news spotlight";
	height: 50vh;
	padding: 1em;
}
#event{
	grid-area: event;
}
#call-to-act{
	grid-area: call-to-act;
}
#weather{
	grid-area: weather;
}
#join{
	grid-area: join;
}
#news{
	grid-area: news;
}
#spotlights{
	grid-area: spotlight;
	display: flex;
	flex-direction: column;
}
article div{
	height: 100%;
}
footer{
	background-color: #d6b257;
	color: #023047;
}
footer > section{
	display: flex;
	justify-content: space-evenly;
}
footer .copyright{
	text-align: center;
	border-top: 2px solid #8ecae6;
	width: 95%;
	margin: 0 auto;
}
footer img{
	width: 8%;
	height: 8%;
}
