@media only screen and ( max-width: 100rem){
    html{
        padding: 5rem;;
    }
    body{
        width: 100%;
        margin: 0 auto;
    }
    .hamburger{
        font-size: 2.5em;
    }
    header{
        grid-template-columns: repeat(3, 1fr);
        height: 19rem;
        justify-content: space-between;
        align-items: center;

    }
    #navigation{
        /*display: none;*/
        background: var(--clr-light);
        position: absolute;
        right: 2.2rem;
        top: 6.8rem;
        box-shadow: 0 0 3em rgba(0,0,0,.15);
        transform: translateX(100%);
        transition: transform 700ms cubic-bezier(.5, 0, .5, 1);
    }
    li{
        padding: 0.8em;
        background-color:#023047;
        border: 2px solid white;
    }
    /*.nav-open #navigation{
        display: block;
        transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
    }*/
    .nav_toggle {
        position: absolute;
        top:1rem;
        right: 0;
        transform: translateX(-100%);
        background: var(--clr-light);
        padding: .37em .5em;
        border: 0;
        border-radius: .25em 0 0 .25em;
      }
      .nav_toggle:hover{
        border: 2px solid white;
      }
    .nav-open #navigation {
        transform: translateX(-0.1rem);
        width: 24rem;
        height: 10rem;
    }
    #logo{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    #heading{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    #nav-list{
        display: none;
        width: 0;
    }
    .nav-open #nav-list{
        display: flex;
        flex-direction: column;
        padding: 0.5em 3em;
        margin: 0;
        width: auto;
        height: 100%;
    }
    .media{
        grid-row: 1/2;
        grid-column: 3/4;
        width: 150px;
        height: 150px;
        display: flex;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
    }

    main{
        height: 160vh;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "call-to-act call-to-act"
        "news news"
        "spotlight spotlight"
        "join join"
        "event weather";
    }
    #spotlights{
        flex-direction: row;
        margin-bottom: 40px;
    }
    #spot1, #spot2{
        width: 100%;
    }
    #spot3{
        display: none;
    }
    footer section{
        align-items: center;
    }
    .logo{
        width: 48%;
        align-items: stretch;
        justify-content: space-around;
    }
    a.icon {
        background: #023047;
        color: #8ecae6;
        display: block;
        width: 3rem;
        height: 3em;
        border: 1.5px solid white;
    }
    
    .icon:hover, .fa-bars:hover {
        background-color: #ddd;
        color: black;
    }
    .media .fa {
        padding: 12px;
        font-size: 13px;
        width: 13px;
        height: 10px;
        margin: 1px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
    .icon .fa{
        padding: 3px;
    }
}