*{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p, figcaption{
    font-size: large;
}
html{
    background-color: #00c090;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
}
body{
    background-color: #bfd200;
    width: 60%;
    height: fit-content;
    border: 10px double black;
}
h1{
    text-shadow: 2px 2px 4px #2b9348;
}
hr{
    width: 70%;
}
@media  only screen and (max-width: 56.875em) {
    html{
        padding: 1em;
    }
    body{
        width: 95%;
        height: 95%;
    }
    img{
        width:50%;
    }
    h1{
        font-size: 1.3em;
    }
    h2{
        font-size: 1em;
    }
    img{
        width: 5rem;
    }
}