@media  only screen and (max-width: 32.5em) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0.5em;
    }
    body{
        width: 95%;
    }
    img{
        width:50%;
    }
    p{
        font-size: x-small;
    }
}