html{
    background-color: #e5f4e3;
    padding-top: 10%;
    padding-bottom: 30%;
}
body{
    width: 900px;
    margin: 0 auto;
    background-color: white;
    border: 3px dashed black;
    font-family: 'Courier New', Courier, monospace;
}
img{
    width:30%;
}
header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 3px dashed black;
    color: white;
    padding: 0.5em;
    background-color: black;
}
ul{
    padding: 2.5em;
}
li{
    font-size: larger;
}
h2, p{text-align: center;}
<<<<<<< HEAD
li, p{
=======
p{
>>>>>>> 8853f9a851fc4a41594c81a16f1d7054304cf62d
    font-family: 'Space Mono', monospace;
}