*{
    border: 2px solid red;
}
html{
    background-color: #e5f4e3;
}
body{
    width: 900px;
    margin: 0 auto;
    background-color: white;
    border: 3px dashed black;
    font-family: 'Courier New', Courier, monospace;
}
header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 3px dashed black;
    color: white;
    background-color: black;
}
h2, p{text-align: center;}